// обертка шапки
.wrapper-header {
    position: absolute;
    z-index: 500;
    &_fixed {
        position: fixed;
        .header {
            background-color: #000000ad;
        }
    }
}
// Шапка
.header {
    padding: 10px 0;
    margin-top: 15px;
    border-radius: 20px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    display: flex;
    align-items: center;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header__contact {
        display: none;
        list-style: none;
        gap: 50px;
    }
    &__logo {
        display: block;
        width: 140px;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .contact {
        height: 56px;
        .contact__item {
            display: table;
            text-align: center;
            a {
                display: table-cell;
                vertical-align: middle;
                color: #fff !important;
                font-size: 18px;
                font-weight: 600;
                border-width: 1px;
                border-radius: 9px;
                border-color: transparent;
                border-style: solid;
                transition: background-color 0.3s ease-in-out,
                    color 0.3s ease-in-out, border-color 0.3s ease-in-out;
                padding: 0 15px;
                &:hover {
                    border-color: #fff;
                }
            }
        }
    }
    .social {
        list-style: none;
        display: none;
        gap: 15px;
        svg {
            width: 40px;
            height: 40px;
        }
    }
    .menu-toggle {
        cursor: pointer;
        width: 40px;
        height: 40px;
    }
    &__nav {
        display: flex;
        justify-content: space-between;
        .nav-btns__item {
            display: table;
        }
        .nav-btns__link {
            display: table-cell;
            vertical-align: middle;
            color: #ffffff;
            text-transform: uppercase;
            background-color: #fe5001;
            border-radius: 3px;
            border-color: transparent;
            border-width: 1px;
            padding: 8px 18px;
            font-size: 13px;
            transition: all 0.2s ease;
            -webkit-transition: all 0.2s ease;
            &:hover {
                background-color: #f76b2a;
            }
        }
    }
}
//основное по секции
.section {
    min-height: 100vh;
    &__header {
        background-color: var(--third-color);
        padding: 30px 0px;
    }
    &__content {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    &__title {
        font-size: 35px;
        line-height: 1.23;
    }
    &__desc {
        margin-top: 40px;
        font-size: 24px;
        line-height: 1.5;
    }
    &__main {
        padding: 0;
    }
    &__courses {
        min-height: 100%;
    }
    &__reviews {
        min-height: 100%;
    }
}
// блок со скидками
.discounts {
    background-color: #000000;
    padding: 60px;
    padding-right: 80px;
    margin-bottom: 30px;
    &__title {
        color: rgb(255, 255, 255);
        font-size: 28px;
        margin-bottom: 16px !important;
        line-height: 1.23;
        font-weight: 600 !important;
    }
    &__line {
        background-color: rgb(254, 80, 1);
        opacity: 0.6;
        display: block;
        max-width: 50px;
        width: 100%;
        height: 3px;
    }
    &__desc {
        color: #fff;
        font-size: 20px;
        line-height: 1.55;
        font-weight: 300;
        margin-top: 28px;
    }
    &__btn {
        margin-top: 60px;
    }
}
// главная секция
.main {
    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.4);
        display: block;
        z-index: 2;
    }
    &__video {
        position: relative;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        object-fit: cover;
        z-index: 1;
    }
    &__content {
        position: absolute;
        padding-top: 115px;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        z-index: 3;
    }
    &__title {
        color: var(--white-color);
        font-size: 65px;
        position: absolute;
        bottom: 100px;
    }
}
// секция о нас
.about {
    &__img {
        width: 100%;
        height: 800px;
        object-fit: cover;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 20px 0px;
    }
    &__text {
        padding-left: 130px;
    }
    &__title {
        font-size: 42px;
        line-height: 1.23;
    }
    &__desc {
        margin-top: 34px;
        font-size: 20px;
        line-height: 1.55;
        text-align: left;
        font-weight: 300;
        color: #000000;
        padding-bottom: 60px;
    }
    &__btn {
        padding: 15px 75px;
    }
}
// секция направления
.directions {
    &__desc {
        font-size: 20px;
        line-height: 1.55;
        font-weight: 300;
    }
    &__img {
        padding-top: 4px;
        max-width: 100%;
        height: auto;
    }
}
// секция курсы
.course {
    border-top: 1px solid #000000 !important;
    &__title {
        text-transform: uppercase;
        font-size: 20px;
        line-height: 1.35;
        color: #000000 !important;
        background-color: #fff !important;
        box-shadow: none !important;
        padding: 27px 10px !important;
    }
    &__content {
        padding: 0px 10px 27px 10px;
    }
    &__desc,
    &__list {
        font-size: 18px;
        line-height: 1.55;
        font-weight: 300;
    }
    &__list {
        padding-left: 20px !important;
    }
}
// секция постеры
.posters {
    &__img {
        width: 100%;
    }
}
// секция отзывы
.reviews {
    &__item {
        height: 650px;
        object-fit: contain;
    }
}
