:root {
    --first-color: #157fc4;
    --second-color: #fe5001;
    --third-color: #f5f0e9;
    --dark-color: #000;
    --white-color: #fff;
    --title-font: "Montserrat", sans-serif;
    --title-font-weight: 800;
    --text-font: "Exo 2", sans-serif;
}
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1200px,
);
$accordion-icon-active-color: #fe5001;
$accordion-icon-width: 40px;
$accordion-icon-transform: rotate(45deg);
$accordion-button-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 16 16' fill='currentColor' class='bi bi-plus-circle-fill'><path d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z'/></svg>");
$accordion-button-active-icon: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 16 16' fill='#{$accordion-icon-active-color}' class='bi bi-plus-circle-fill'><path d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z'/></svg>");
$carousel-control-color: #fe5001;
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
    font-family: var(--title-font) !important;
    font-weight: var(--title-font-weight) !important;
}
p,
a {
    font-family: var(--text-font) !important;
    margin-bottom: 0 !important;
}
a {
    text-decoration: none !important;
}
ul {
    padding: 0 !important;
    margin: 0 !important;
}
strong {
    font-weight: 700 !important;
}
.btn-primary {
    background-color: var(--second-color) !important;
    font-size: 17px !important;
    border: none !important;
    font-weight: 700 !important;
    transition: all 0.2s ease !important;
    -webkit-transition: all 0.2s ease !important;
    &:hover {
        background-color: #f76b2a !important;
    }
}
