:root {
    --first-color: #157fc4;
    --second-color: #fe5001;
    --third-color: #f5f0e9;
    --dark-color: #000;
    --white-color: #fff;
    --title-font: "Montserrat", sans-serif;
    --title-font-weight: 800;
    --text-font: "Exo 2", sans-serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 !important;
    font-family: var(--title-font) !important;
    font-weight: var(--title-font-weight) !important;
}
p,
a {
    font-family: var(--text-font) !important;
    margin-bottom: 0 !important;
}
a {
    text-decoration: none !important;
}
ul {
    padding: 0 !important;
    margin: 0 !important;
}
strong {
    font-weight: 700 !important;
}
.container {
    max-width: 1200px !important;
}
.btn-primary {
    background-color: var(--second-color) !important;
    font-size: 17px !important;
    border: none !important;
    font-weight: 700 !important;
    transition: all 0.2s ease !important;
    -webkit-transition: all 0.2s ease !important;
    &:hover {
        background-color: #f76b2a !important;
    }
}
